/* Layout */
.page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;
}

.header_container {
  flex: 0 0 50px;

  display: flex;
  flex-direction: column;

  padding-bottom: 5px;
  overflow: hidden;
}

header {
  flex: 0 0 50px;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-shadow: 0px 2px 4px 0px black;
}

.mid {
  flex: 1 1;

  display: flex;
  flex-direction: column;

  background-color: #2A2A2A;
}

.mid header {
  padding-left: 10px;

  color: #FFFFFF;
}

.mid section {
  padding-left: 10px;
}

/* formating */
.tag {
  color: #666666;
  font-size: 1.2em;
}