.channel_list {
    flex: 1 1;
    margin: 0;
    padding: 0;

    color: #666666;
    list-style-type: none;
}

.channel_list li {
    margin: 0 10px 0 5px;
    padding: 5px 0 5px 5px;

    font-size: .9em;
    border-radius: 5px;
}

.channel_list li:hover {
    background-color: #111111;
}

.tag {
    font-size: 1.2em;
}