.sidebar {
    flex: 0 0 250px;

    display: flex;
    flex-direction: column;

    background-color: #1A1A1A;

    border-right: 1px solid #111111;
}

.sidebar .header_container {
    flex: 0 0 50px;

    display: flex;
    flex-direction: column;

    padding-bottom: 5px;
    overflow: hidden;
}

.sidebar header {
    flex: 0 0 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: #666666;
    box-shadow: 0px 2px 4px 0px black;
}

.tag {
    color: #666666;
    font-size: 1.2em;
}

.username {
    padding-left: 5px;
}