<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>BoE</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- generics -->
	<link rel="icon" href="/static/img/favicon/favicon-32.png" sizes="32x32">
	<link rel="icon" href="/static/img/favicon/favicon-57.png" sizes="57x57">
	<link rel="icon" href="/static/img/favicon/favicon-76.png" sizes="76x76">
	<link rel="icon" href="/static/img/favicon/favicon-96.png" sizes="96x96">
	<link rel="icon" href="/static/img/favicon/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/static/img/favicon/favicon-192.png" sizes="192x192">
	<link rel="icon" href="/static/img/favicon/favicon-228.png" sizes="228x228">

	<!-- Android -->
	<link rel="shortcut icon" sizes="196x196" href="/static/img/favicon/favicon-196.png">

	<!-- iOS -->
	<link rel="apple-touch-icon" href="/static/img/favicon/favicon-120.png" sizes="120x120">
	<link rel="apple-touch-icon" href="/static/img/favicon/favicon-152.png" sizes="152x152">
	<link rel="apple-touch-icon" href="/static/img/favicon/favicon-180.png" sizes="180x180">

	<!-- Windows 8  IE 10-->
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/img/favicon/favicon-144.png">

	<!-- Windows 8.1 + IE11 and above -->
	<meta name="msapplication-config" content="/static/browserconfig.xml" />
</head>

<body>
	<%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
	<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
	<script>
		window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')
	</script>
</body>

</html>